<div class="row" id="reset-pass-section">
  <h1>Ubah Kata Sandi</h1>
  <div class="security-concept">
    <img src="/static/img/security_concept.svg" alt="security-concept">
  </div>
  <div class="reset-form">
    <form action="/auth/reset-password" method="POST">
      <div class="form-row">
        <div class="form-groups col-md-12">
          <label for="password">Kata Sandi Baru</label>
          <input type="password" class="form-control form-control-sm" id="pass3" name="pass3"
            placeholder="Masukan Kata Sandi" minlength="8" autocomplete="new-password"
            value="<%= typeof pass3 != 'undefined' ? pass3 : '' %>" required><i class="fas fa-eye btn-show-hide-pwd"
            data-for="pass3"></i>
        </div>
        <div class="form-groups col-md-12">
          <label for="password">Konfirmasi Kata Sandi Baru</label>
          <input type="password" class="form-control form-control-sm" id="pass4" name="pass4"
            placeholder="Konfirmasi Kata Sandi" autocomplete="current-password"
            value="<%= typeof pass4 != 'undefined' ? pass4 : '' %>" required><i class="fas fa-eye btn-show-hide-pwd"
            data-for="pass4"></i>
        </div>
      </div>
      <input type="hidden" name="id" value="<%=id%>">
      <button type="submit" class="btn btn-primary">Konfirmasi</button>
    </form>

  </div>

</div>