<div class="row" id="waiting-email-section">
  <h1>Email Kami Sudah Terkirim </h1>
  <img src="/static/img/people_receive_email.svg" alt="">
  <h3>Mohon Cek Email Konfirmasi Dari Kami Untuk Informasi Lebih Lanjut.</h3>
  <h3>Email Tidak Muncul? <a href="/auth/request-token">Kirim Token Ulang</a></h3>
</div>

