#manage-user{
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  color: #66AAFC;
  box-sizing: border-box;
}
/* LEFT SIDE */
#manage-user .user-left .user-info{
  flex: 1;
  background-color: #66AAFC;
  padding: 10px;
}
#manage-user .user-left .user-info img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: white;
  margin: 0 auto;
}
#manage-user .user-left .user-info h1{
  display: flex;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
#manage-user .user-left .user-info h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}
#manage-user .user-left .user-menu{
  flex: 1;
  background-color: #0F68BA;
  padding: 10px;
  height: 855px;
}
#manage-user .user-left .user-menu ul li{
  display: block;
  text-decoration: none;
}
#manage-user .user-left .user-menu ul li .dashboard-link{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-right: 10px;
}
#manage-user .user-left .user-menu ul li .btn-group{margin-right: 15px;}

#manage-user .user-left .user-menu ul li .btn-group button{
  background-color:#0F68BA;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
#manage-user .user-left .user-menu ul li .btn-group .dropdown-menu a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #0F68BA;
  font-size: 20px;
}
/* END LEFT SIDE */

/* RIGHT SIDE */
#manage-user .user-right{
  flex: 1;
  flex-basis: 80%;
  justify-content: space-between;
  margin-left: 30px;
}
#manage-user .user-right .right-content h1{
  flex: 1;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin: 20px;
  padding: 10px;
}
#manage-user .user-right .user-options{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: whitesmoke;
  padding: 5px;
}
#manage-user .user-right .user-options .btn-group .dropdown-menu a{
  color: #66AAFC;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
#manage-user .user-right .right-content{
  flex:1;
  flex-direction: column;
  background-color: whitesmoke;
}
#manage-user .user-right .right-content h1{
  flex: 1;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin: 30px;
  padding: 10px;
}
#manage-user .user-right .right-content .form-edit form input,#manage-user .user-right .right-content .form-edit form textarea,#manage-user .user-right .right-content .form-edit form select{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0F68BA;
}
#manage-user .user-right .right-content .form-edit form button{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
}
#manage-user .user-right .right-content .form-edit form button a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
}
#manage-user .user-right .right-content .form-edit form button a:hover{
  text-decoration: none;
}
#manage-user .user-right .right-content #datatables{
 font-family: 'Quicksand', sans-serif;
 font-weight: 700;
 font-size: 14px;
 text-align: center;
}
#manage-user .user-right .right-content #datatables td{
 color: #66AAFC;
}
#manage-user .user-right .right-content #datatables .thead-blue{
 background-color: #0F68BA;
 color: white;
}

#manage-user .user-right .right-content .pagination{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
}


