<div class="row" id="success-verify-section">
  <h1>Verifikasi Akun Berhasil</h1>
  <img src="/static/img/girl_jumping_success.svg">
  <h3>Akun Anda Berhasil Diaktifkan, Silahkan untuk melanjutkan Login <a href="/auth/login">Disini.</a> </h3>
</div>
