<div class="row" id="email-fail-section">
  <h1>Maaf, Email Tidak Ditemukan.</h1>
  <img src="/static/img/find_email_fail.svg" alt="fail find email">
  <h3>Email yang anda cari tidak ditemukan, pastikan email tersebut sudah terdaftarkan. Jika belum anda bisa
    mendaftarkannya <a href="/auth/register">Disini.</a></h3>
</div>