<div class="row" id="not-found-section">
  <h1>Maaf, Halaman tidak ditemukan</h1>
  <img src="/static/img/error_404_page.svg" alt="page not found">
  <h3>Halaman Yang Anda Cari Tidak Ditemukan, Mohon Untuk Kembali.</h3>
</div>