<div class="row" id="server-error-section">
  <h1>Oops. </h1>
  <img src="/static/img/error_500_page.svg" alt="server error">
  <h3>Terjadi Kesalahan Di Server, Mohon Untuk Mencoba Kembali Beberapa Saat Lagi.</h3>
</div>