<div class="row" id="suspended-user-section">
  <h1>Maaf, Akun Anda Tidak Aktif</h1>
  <img src="/static/img/rejected_concept.svg" alt="suspended user">
  <h3>Akun Anda Sedang Dalam Status Tidak Aktif, Hubungi Admin Jika Ingin Informasi Lebih Lanjut. </h3>
</div>