<div class="row" id="index-section">
      <aside class="col-lg left-side">
            <div class="left-side-logo">
                  <img src="/static/img/logo_bpn.png" alt="bpn logo">
                  <img src="/static/img/brand_logo.png" alt="brand logo">
            </div>
            <h3>Kantor Wilayah Badan Pertanahan Nasional Jawa Barat</h3>
      </aside>
      <aside class="col-lg right-side">
            <h1>Selamat Datang DI E-Kuisioner!</h1>
            <div class="right-side-logo">
                  <img src="/static/img/people_talking.svg" alt="">
            </div>
            <button type="button" class="btn btn-primary "><a href="/auth/register">Registrasi</a>
            </button>
            <button type="button" class="btn btn-primary "> <a href="/auth/login">Masuk</a></button>
      </aside>
</div>