<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=getTitle%></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/static/style/style.css">
  <link rel="stylesheet" type="text/css" href="/static/style/responsive.css">
</head>

<body>
  <div class="loader-wrapper">
    <div class="loader">
      <div class="loader-inner"><img src="/static/img/brand_logo.png" alt="brand_logo_loader"></div>
    </div>
  </div>
  <div class="container-fluid">
    <main>
      <%- body %>
      <%- include("../error_handling/alertErrorHandler") %>
    </main>
    <% if (reqFooter) { %>
    <footer>
      <div class="footer-section">
        <img src="/static/img/logo_bpn.png" alt="logo bpn">
        <img src="/static/img/brand_logo.png" alt="brand logo">
      </div>
    </footer>
    <% } %>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3ced0348db.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script type="module" src="/static/script/main.js"></script>
</body>

</html>